%strong= "#{questions.count} 件の質問"

- questions.each do |question|
  .row
    .col-2
      .row
        %strong= question.cached_weighted_score
        票
      .row
        %strong= question.answers_count
        回答
    .col-10
      .title= link_to question.title, question
      .body= question.truncated_content
      .row
        .col-5
          .tags= render "tag_list", tags: question.tag_list
        .col-5
          .user_stat= question.user.name
  %hr
