.row
  .col-2
    .row
      %strong= question.cached_weighted_score
      票
    .row
      %strong= question.answers_count
      回答
  .col-10
    .title= link_to question.title, question
    .body= question.truncated_content
    .row
      .col-5
        .tags= render question.tags
      .col-5
        .published_at
          質問日時:
          - if question.created_at > 1.days.ago
            #{time_ago_in_words(question.created_at, include_seconds: true)}前
          - else
            = I18n.l(question.created_at, format: :short)
        .user_stat= render "shared/user_stat", user: question.user
%hr
