%h1.title=@question.title

.tags= render @question.tags

.container.mt-2
  .question
    .row
      .voting.pr-5
        = render 'questions/vote', question: @question
      .col
        .content=@question.content
    .row
      = "閲覧数： #{@question.impressionist_count}"

    .row.actions
      - if current_user == @question.user
        = link_to '編集', edit_loggedin_question_path(@question)
        \|
        = link_to '削除',
             loggedin_question_path(@question),
             method: :delete, data: { confirm: 'よろしいですか？' }
        \|
  %hr
    = render partial: 'answers/answers_list', collection: @question.persisted_answers
%br

  - if user_signed_in?
    = render template: 'loggedin/answers/new'
  %hr
  = link_to '質問一覧', questions_path

