= form_with( model: [:loggedin, question], local: true) do |f|
  - if question.errors.any?
    #error_explanation.alert.alert-danger
      %ul
        - question.errors.full_messages.each do |message|
          %li= message
  .field
    = f.text_field :title, placeholder: "質問のタイトル", class: 'form-control'
  .field.mt-1
    = f.text_field :tag_list, value: question.tag_list.join(","), placeholder: "タグ（カンマで区切ります）", class: 'form-control'
  .field
    = f.text_area :content, placeholder: "質問の内容", class: 'form-control'

  .actions
    = f.submit (yield :submit_label), class: 'btn btn-primary mt-1'

