= simple_form_for([:loggedin, question]) do |f|
  - if question.errors.any?
    #error_explanation.alert.alert-danger
      %ul
        - question.errors.full_messages.each do |message|
          %li= message
  = f.input :title, placeholder: "質問のタイトル"
  = f.input :tag_list, value: question.tags.pluck(:name).join(","), placeholder: "タグ１,tag2"
  = f.input :content, placeholder: "質問の内容"

  .actions
    = f.submit submit_label, class: 'btn btn-primary mt-1'

