= simple_form_for([:loggedin, question]) do |f|
  - if question.errors.any?
    #error_explanation.alert.alert-danger
      %ul
        - question.errors.full_messages.each do |message|
          %li= message
  .field
    = f.input :title, placeholder: "質問のタイトル", input_html: { class: 'form-control' }
  .field.mt-1
    = f.input :tag_list, value: question.tags.pluck(:name).join(","), placeholder: "タグ１,tag2", input_html: { class: 'form-control' }
  .field
    = f.input :content, placeholder: "質問の内容", input_html: { class: 'form-control' }

  .actions
    = f.submit submit_label, class: 'btn btn-primary mt-1'

