
%h2
  アカウント情報更新

%ul.nav.nav-tabs{ role: "tab_list" }
  %li.nav-item{ role: "presentation" }
    = link_to 'プロフィール', user_path(@user), class: "nav-link"

  %li.nav-item{ role: "presentation" }
    = link_to 'プロフィールを編集', edit_user_registration_path, class: "nav-link active"

  .tab-content
    .tab-pane.active{ role: "tab_panel" }
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, role: "form" }) do |f|
        = devise_error_messages!
        .form-group
          = f.label :name
          = f.text_field :name, :autofocus => true, class:"form-control"
        .form-group
          = f.label :introduce
          = f.text_area :introduce, class:"form-control"
        .form-group
          = f.label :live_in
          = f.text_field :live_in, class:"form-control"
        .form-group
          = f.label :email
          = f.email_field :email, class:"form-control"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          .form-control
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .form-group
          = f.label :password
          %i (パスワードを変更しない場合は空欄のままにしてください)
          = f.password_field :password, :autocomplete => "off", class:"form-control"
        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class:"form-control"
        .form-group
          = f.label :current_password
          %i (更新するために現在のパスワードが必要です。)
          = f.password_field :current_password, class:"form-control"
        .form-group
          = f.submit "更新", class:"btn btn-primary"
%h3 退会
%p
  退会してユーザー情報を削除しますか？ #{button_to "退会する", registration_path(resource_name), :data => { :confirm => "よろしいですか？" }, :method => :delete, class:"btn btn-danger"}
= link_to "戻る", :back
