= form_with( model: [:loggedin, user], local: true) do |f|
  - if user.errors.any?
    #error_explanation
      %h2= "#{pluralize(user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - user.errors.full_messages.each do |message|
          %li= message
  .field
    表示名
  .field
    = f.text_field :name, placeholder: "表示名", class: 'form-control'
  .field.mt-1
    メールアドレス
  .field
    = f.text_field :email, placeholder: "メールアドレス", class: 'form-control'

  -#TODO: 自己紹介と、居住地を追加する
  .actions
    = f.submit (yield :submit_label), class: 'btn btn-primary mt-1'

