.app-title.navbar.navbar-expand-md.navbar-light.bg-light
  .navbar-brand Spark Hackers
  %ul.navbar-nav.ml-auto
    - if user_signed_in?
      %li.nab-item
        = link_to 'ログアウト', destroy_user_session_path, class: 'nav-link', method: :delete
      %li.nab-item
        = link_to user_path(current_user), class: 'nav-link' do
          = image_tag InitialAvatar.avatar_data_uri(current_user.name.first), class: 'avatar'
          = current_user.name
    - else
      %li.nab-item
        = link_to 'ログイン', new_user_session_path, class: 'nav-link'
