!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SokutoRails
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    %h1 SparkHackers
    - if alert
      %p.alert.alert-danger= alert
    - elsif notice
      %p.alert.alert-success= notice
    .row
      .col-3
        = render 'layouts/navigation'
      .col-9
        = yield
